/**
 * Krank Base CSS
 * @package Krank
*/

// ==========================================================================
//    Bootstrap
// ========================================================================== 

@import "krank-variables.less"; // Krank Variables and Bootstrap Overwrides
@import "bootstrap/mixins.less";

// Reset
@import "bootstrap/normalize.less";
@import "bootstrap/print.less";

// Core CSS
@import "bootstrap/scaffolding.less";
@import "bootstrap/type.less";
@import "bootstrap/code.less";
@import "bootstrap/grid.less";
@import "bootstrap/tables.less";
@import "bootstrap/forms.less";
@import "bootstrap/buttons.less";

// Components
@import "bootstrap/component-animations.less";
@import "bootstrap/dropdowns.less";
@import "bootstrap/button-groups.less";
@import "bootstrap/input-groups.less";
@import "bootstrap/navs.less";
@import "bootstrap/navbar.less";
@import "bootstrap/breadcrumbs.less";
@import "bootstrap/pagination.less";
@import "bootstrap/pager.less";
@import "bootstrap/labels.less";
@import "bootstrap/badges.less";
@import "bootstrap/jumbotron.less";
@import "bootstrap/thumbnails.less";
@import "bootstrap/alerts.less";
@import "bootstrap/progress-bars.less";
@import "bootstrap/media.less";
@import "bootstrap/list-group.less";
@import "bootstrap/panels.less";
@import "bootstrap/wells.less";
@import "bootstrap/close.less";

// Components w/ JavaScript
@import "bootstrap/modals.less";
@import "bootstrap/tooltip.less";
@import "bootstrap/popovers.less";
@import "bootstrap/carousel.less";

// Utility classes
@import "bootstrap/utilities.less";
@import "bootstrap/responsive-utilities.less";

// ==========================================================================
//    Krank Imports
// ========================================================================== 

@import "font-awesome.less"; // Font Awesome Icon Family

// ==========================================================================
//    Base
// ==========================================================================
body {
	font-weight: @font-weight-base;
}
// Button and link transitions
a, button, .btn {
	-webkit-transition: color @trans, background-color @trans, background @trans;
	-moz-transition: color @trans, background-color @trans, background @trans;
	-ms-transition: color @trans, background-color @trans, background @trans;
	transition: color @trans, background-color @trans, background @trans;
	&:hover {
		text-decoration: none;
	}
}
// Responsive Images
img {
	.img-responsive;
}
// Font Awesome integration
i {
	.krank-ico;
}
.btn {
	text-shadow: none !important;
}
// text selection color change
::selection {
	background: lighten(@brand-primary,5%);
	color: #fff;
	text-shadow: none;
	}
::-moz-selection {
	background: lighten(@brand-primary,5%);
	color: #fff;
	text-shadow: none;
}

// Sprite and retina compatibility
.sprite {
	.img-retina("../img/sprite.png", "../img/sprite@2x.png", 200px, 190px); // x1 width and height
}

// ==========================================================================
//    Header
// ========================================================================== 

.navbar {
	margin-bottom: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	.navbar-header {
		.make-sm-column(2,0);
		.navbar-toggle {}
		.navbar-brand {
			display: block;
			background: url('../img/logo@2x.png');
			background-size: auto 100% !important;
			background-position: left center;
			background-repeat: no-repeat;
			height: @navbar-height - @pad-md;
			width: 100%;
			margin-left: 0;
			.navbar-vertical-align((@navbar-height - @pad-md) + 10px );
			span {
				.hide-text;
			}
		}
	}
	.navbar-collapse {
		.make-sm-column(10,0);
		.navbar-nav {
			.pull-right;
			.dropdown-menu {
				.dropdown-menu-right;
			}
		}
	}
	// Sticky Nav
	&.affix {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		margin-top: 0;
		z-index: 1030;
	}
	// Counter For Affix
	&.affix + .breadcrumbs {
		margin-top: @navbar-height;
	}
	// Header Search form
	.search-form {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
		.pull-right;
		.hidden-xs;
		.input-group {
			position: inherit;
			.search-field {
				.navbar-vertical-align( @navbar-height - 10px; );
				display: none;
				position: absolute;
				z-index: 1000;
				margin: 0 147px 0;
				right: 0;
				top: ceil( (@navbar-height - (@navbar-height - 10px)) / 2 );
				height: @navbar-height - 10px;
				width: 89% !important;
			}
			.input-group-btn {
				display: none;
			}
		}
		.search-reveal {
			.navbar-vertical-align(20px);
			display: block;
			font-size: 20px;
			float: left;
			padding: 0 @pad-sm;
			border-left: 1px solid @navbar-default-border;
			cursor: pointer;
			&:hover {
				color: @brand-primary;
			}
		}
	}

	// Contact Modal
	.contactModal {
		.btn-primary;
		.navbar-vertical-align(34px);
		.pull-right;
		.hidden-xs;
	}
}

// ==========================================================================
//    Breadcrumbs
// ==========================================================================

.breadcrumbs {
	background-color: transparent;
	color: lighten(@asbestos, 20%);
	font-size: 12px;
	border-bottom: 1px solid @navbar-default-border;
	margin-bottom: @pad-md;
	.breadcrumb {
		margin: 0;
		span {
			margin-right: 10px;
		}
	}
	.breadcrumb > li + li:before {
		font-family: FontAwesome;
	}
}

// ==========================================================================
//    Search Form
// ==========================================================================

.search-form {
	.search-reveal {
		display: none;
	}
}

// ==========================================================================
//    Content
// ========================================================================== 

.content { 
	background-color: @body-bg;
}

// ==========================================================================
//    Primary Content
// ========================================================================== 

.main { 
	.page-header {
		margin: 0 0 @pad-md 0;
		h1 {
			margin-top: 0;
		}
	}
}

//Gallery Shortcode 
.gallery-row { 
	padding: floor(@grid-gutter-width / 2) 0 0 0;
	
	div {
		text-align: center;
		
		.thumbnail {
			padding: 0;
			margin-bottom: 0;
			border-color: @silver;
			display: inline-block !important;
		}
		.caption {
			padding: 5px;
			width: 152px;
			margin: 0 auto floor(@grid-gutter-width / 2) auto;
		}
	}
}

#photo-modal .modal-dialog {
	text-align: center;
	display: table;
	padding: 0;
	.thumbnail {
		border-color: @gray-lighter;
	}
	img {
		-webkit-border-radius: @border-radius-base;
		-moz-border-radius: @border-radius-base;
		border-radius: @border-radius-base;
		width: 100%;
		.img-responsive;
	}
	.close {
		width: 25px;
		height: 25px;
		opacity: .8;
		position: relative;
		top: 25px;
		&:hover {
			color: @brand-primary;
		}
	}
}

// ==========================================================================
//    Sidebar
// ========================================================================== 

.sidebar {
	.hidden-xs;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			color: @gray-light;
			padding: 10px 0;
			border-bottom: 1px solid @gray-lighter;
		}
	}
	section:first-child {
		h3 {
			margin-top: 0;
		}
	}
	.widget_recent_entries {
		.post-date {
			display: block;
			font-size: 85%;
			color: @gray-light;
		}
	}
}
// ==========================================================================
//    Posts
// ========================================================================== 

.hentry {
	header {
		margin-bottom: @pad-sm;
		h1 {
			margin-top: 0;
		}
	}
	.entry-meta {
		font-size: 85%;
		color: @gray-light;
		.author {
			font-size: 100%;
			text-align: left;
			padding: 0;
		}
		span {
			a {
				color: @gray-light;
				&:hover {
					color: @brand-primary;
				}
			}
		}
	}
	.entry-content {
		padding-bottom: @pad-md;
		margin-bottom: @pad-md;
		border-bottom: 1px solid @gray-lighter;
	}
	.feat-post {
		padding: 0 10px;
		margin-right: @pad-sm;
		background-color: @brand-primary;;
		color: white;
		letter-spacing: 2px;
		font-weight: 700;
		font-size: 10px;
		text-transform: uppercase;
		text-align: center;
		float: left;
		-webkit-border-radius: @border-radius-base;
		-moz-border-radius: @border-radius-base;
		border-radius: @border-radius-base;
		span {
			line-height: 40px;
		}
	}
	.img-soon {
		display: block;
		height: 100%;
		background-color: @clouds;
		color: @silver;
		text-align: center;
		text-shadow: 0 1px #fff;
		font-size: 24px;
		font-family: @headings-font-family;
		font-weight: 300;
		line-height: 220px;
	}
}

// Archive Page
.blog, 
.search-results,
.category,
.author {
	.hentry {
		padding-bottom: @pad-md;
		margin-bottom: @pad-md;
		border-bottom: 1px solid @gray-lighter;
		.feat-img {
			position: relative;
			overflow: hidden;
			.feat-post {
				position: absolute;
				top: 50px;
				right: -38px;
				width: 200px;
				z-index: 100;
				padding: 5px 0;
				margin: 0;
				-webkit-transform: rotate(45deg);
				-moz-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				-o-transform: rotate(45deg);
				filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476); /* IE6,IE7 */
				-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476)"; /* IE8 */
				span {
					line-height: 0;
				}
			}
			img {
				.img-responsive;
			}
			.img-more {
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				text-align: center;
				line-height: 298px;
				display: none;
				background-color: fade(@brand-primary, 50%);
				i {
					color: white;
					font-size: 60px;
				}
			}
		}
		padding-left: @pad-sm + 50px;
		position: relative;
		time { 
			position: absolute;
			left: 0;
			top: 0;
			width: 50px;
			color: @gray;
			text-transform: uppercase;
			font-size: 18px;
			font-weight: 700;
			text-align: center;
			padding-bottom: 10px;
			border-bottom: 1px solid @gray-lighter;
			span {
				display: block;
				line-height: 24px;
			}
			.day {
				font-size: 200%;
			}
		}
		.entry-summary {
			.read-more {
				.btn-primary;
			}
		}
		footer { }
	}
}
// Social Share
.social-share {
	float: right;
	.sharrre {
		display: inline-block;
		color: @gray;
		margin: 0 @pad-sm 0 0;
		-webkit-transition: color .3s ease-in-out;
		-moz-transition: color .3s ease-in-out;
		-ms-transition: color .3s ease-in-out;
		-o-transition: color .3s ease-in-out;
		transition: color .3s ease-in-out;
		.box {
			float:left;
		}
		.count {
			position: relative;
			top: -3px;
			display: inline-block;
			cursor: pointer;
			padding: 0 5px;
			margin-left: 10px;
			border-left: 1px solid @gray-light;
			line-height: 22px;
		}
		.share {
			display: inline-block;
			font-size: 22px;
			text-decoration:none;
			cursor: pointer;
			height: 40px;
			line-height: 40px;
		}
		.buttons {
			display:none;
			float:left;
			width:300px;
		}
		.button {
			float:left;
			max-width:50px;
			height:50px;
			margin-left:10px;
		}
	}
	#twitter:hover { 
		color: #4099ff;
	}
	#facebook:hover { 
		color: #3b5999;
	}
	#pinterest:hover { 
		color: #c92228;
	}
	#googlePlus:hover { 
		color: #dd4b39;
	}
	#linkedin:hover { 
		color: #007bb6;
	}
}

// ==========================================================================
//    Images
// ========================================================================== 

.aligncenter {
	display: block;
	margin: @pad-sm auto;
	text-align: center;
}
.alignleft {
	float: left;
	margin-right: @pad-sm;
	margin-bottom: @pad-sm;
}
.alignright {
	float: right;
	margin-left: @pad-sm;
	margin-bottom: @pad-sm;
}
.alignnone { 
	display: block;
	margin-left: 0; 
	margin-right: 0; 
}
figure {
	clear: both;
	img {
		margin: 0;
	}
}

// ==========================================================================
//    Comments
// ==========================================================================

#comments {
	.comment-content {
		position: relative;
		background-color: lighten(@gray-lighter,3%);
		padding: @pad-sm;
		margin-left: @pad-sm;
		.border-top-radius(@border-radius-base);
		.border-bottom-radius(@border-radius-base);
		
		&:after {
			content: '';
			position: absolute;
			top: @pad-sm;
			left: -14px;
			width: 0; 
			height: 0; 
			border-top: 15px solid transparent;
			border-bottom: 15px solid transparent;
			border-right: 15px solid lighten(@gray-lighter,3%);
		}
		
		.media-heading,
		.media-heading a {
			color: @text-color;
			margin: 0;
		}
		time a {
			font-size: 85%;
			color: @gray-light;
			&:hover {
				color: @brand-primary;
			}
		}
		
		.edit-reply {
			position: absolute;
			top: @pad-sm;
			right: @pad-sm;
			color: @gray;
			font-weight: 300;
			a {
				color: @gray;
				&:hover {
					color: @brand-primary;
				}
			}
			.comment-edit-link {}
			.comment-reply-link {}
		}
	}
	.avatar {
		.img-circle;
	}
}

// ==========================================================================
//    Footer
// ========================================================================== 

#to-top {
	display: none;
	position: fixed;
	z-index: 1000;
	bottom: @pad-lg;
	right: @pad-lg;
	width: 40px;
	height: 40px;
	-webkit-border-radius: @border-radius-base;
	-moz-border-radius: @border-radius-base;
	border-radius: @border-radius-base;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	background-color: fade(@gray-darker, 80%);
	color: white;
	.hidden-xs;
	&:hover {
		background-color: fade(@brand-primary, 80%);
	}
}

.content-info {
	margin-top: @pad-md;
	.footer {
		background: @body-bg;
	}
	.business-info {
		color: @gray;
		text-align: center;
		.name {}
		.address {
			display: inline-block;
		}
		.contact {
			span {
				margin-right: @pad-sm / 2;
			}
		}
		.opening {
			display: none;
			height: 0;
		}
	}
	.structured-data {
		margin-top: @pad-lg;
	}
	.location {
		display: none;
	}
	.footer-nav {
		text-align: center;
		margin: @pad-sm 0;
		h4 {
			display: inline-block;
		}
		ul {
			display: inline-block;
			margin: 0;
			li {
				display: inline-block;
			}
		}
	}
	// Footer Sidebar Widgets
	.widget {
		.make-sm-column(3);
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
	}
}

.site-author {
	text-align: center;
	color: @gray-light;
	margin-top: @pad-md;
	
	a {
		color: @gray-light;
		
		&:hover {
			color: @brand-primary;
		}
	}
}

.author { 
	.author-bio {
		.make-row();
		border-bottom: 1px solid @gray-lighter;
		padding-bottom: @pad-md;
		margin-bottom: @pad-md;
		.author-avatar {
			.make-sm-column(2);
			img {
				.img-circle;
			}
		}
		.author-meta {
			.make-sm-column(10);
			h1 {
				margin: 0;
			}
		}
	}
}

// ==========================================================================
//    Pages
// ========================================================================== 

.home {
	.navbar {
		// Home page Counter For Affix
		&.affix + .wrap {
			margin-top: @navbar-height;
		}
	}
}

// Contact Page
.contact {
	.breadcrumbs {
		margin-bottom: 0;
	}
	.content {
		.make-row(0);
	}
	// Google Map
	#map {
		.make-row();
		height: 300px;
		margin-bottom: @pad-md;
		.infoWindow {
			padding: 10px;
			width: 200px;
		}
	}
}

// ==========================================================================
//    Contact Form
// ==========================================================================

.contact-form {
	margin: @pad-md 0;
	.contact-fields {
		input, textarea {
			.input-lg;
			border-radius: 0;
			border-bottom-width: 0;
			padding-bottom: 7px;
			font-size: 18px;
			font-weight: 300;
			&:first-child {
				.border-top-radius(@border-radius-base);
			}
			&:last-child {
				.border-bottom-radius(@border-radius-base);
				border-bottom-width: 1px;
			}
			&:focus {
				border-bottom-width: 1px;
				border-color: @brand-primary;
				-webkit-box-shadow: inset 0 1px 1px transparent, 0 0 8px fade(@brand-primary, 60%);
				-moz-box-shadow: inset 0 1px 1px transparent, 0 0 8px fade(@brand-primary, 60%);
				box-shadow: inset 0 1px 1px transparent, 0 0 8px fade(@brand-primary, 60%);
				padding-bottom: 6;
			}
		}
		textarea {
			height: @pad-lg+@pad-sm;
		}
	}
	.contact-submit {
		margin: @pad-md auto;
		text-align: center;
		.fa {
			margin-right: 5px;
		}
		.btn {}
		.small {
			display: block;
			color: @gray-light;
		}
	}
}
.contact-form-info {
	&.success, &.error {
		color: white;
		padding: @pad-md;
		text-shadow: none;
	}
	&.success {
		background-color: @brand-primary;
	}
	&.error {
		background-color: @pomegranate;
	}
}

// Contact Modal
#contactModal {
	.modal-dialog {
		.modal-content {
			background-color: @clouds;
			text-shadow: none;
			color: ;
			.modal-header {}
			.modal-body {
				padding: @pad-md;
				padding-bottom: 0;
				h4 {
					.h3;
				}
				.contact-form {
					margin: @pad-md auto;
				}
			}
			.modal-footer {
				padding: @pad-md;
				text-align: left;
				border-top: 1px solid darken(@clouds, 5%);
				.btn {
					float: right;
				}
			}
				.close {
					// color: #fff;
				}
		}
	}
}

// ==========================================================================
//    Short Codes
// ==========================================================================

.short-address {
	ul.address {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			&.name {
				font-weight: bold;
			}
		}
	}
}

.short-contact {
	dl.contact {
		dt {
			float: left;
			text-transform: uppercase;
			margin-right: 5px;
		}
		&:after {
			.clearfix;
		}
	}
}

.short-open {
	.open-hours {
		width: 200px;
	}
	dl.open-hours {
		dt {
			float: left;
		}
		dd {
			text-align: right;
		}
		&:after {
			.clearfix;
		}
	}
}

.social-icons {
	list-style: none;
	padding: 0 @pad-sm; 
	li {
		display: inline-block;
		font-size: 24px;
		margin-right: @pad-sm / 2;
	}
}

// ==========================================================================
//  Carousels
// ==========================================================================

// Main Carousel Styles
.carousel {
	margin: @pad-md 0;
	.hidden-xs;
	.carousel-inner {
		.item{
			img {}
			.carousel-caption {
				.slideUp;
				.carousel-title {
					font-size: @font-size-h2;
					font-weight: 300;
					background-color: fade(#000,50%);
					padding: 0 10px;
				}
				.carousel-description {
					font-size: @font-size-h3;
					font-weight: 300;
					background-color: fade(#000,50%);
					padding: 0 10px;
					display: inline-block;
				}
			}
		}
	}
	.carousel-control{
		background-image: none;
		span {
			font-size: 60px;
			line-height: 400px;
		}
	}
	.carousel-indicators{}
}

// Carousel Fade Function
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

// Animations 
.slideUp {
	animation-name: slideUp;
	-webkit-animation-name: slideUp;
	animation-duration: 1s;	
	-webkit-animation-duration: 1s;
	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;
	
	visibility: visible !important;			
}

@keyframes slideUp {
	0% { 
		transform: translateY(100%);
		opacity: 0.0;
	}
	50% {
		opacity: 0.0;
	}
	100% { 
		transform: translateY(0%); 
		opacity: 1;
	}	
}

@-webkit-keyframes slideUp {
	0% { 
		-webkit-transform: translateY(100%);
		opacity: 0.0;
	}
	50% {
		opacity: 0.0;
	}
	100% { 
		-webkit-transform: translateY(0%);
		opacity: 1;
	}	
}

// Home Carousel
#home-carousel {
	margin-top: 0;
}

// ==========================================================================
//    Media Queries
// ========================================================================== 

@media (max-width: @screen-sm-min) {
	// Collapsed Navbar
	.navbar {
		.navbar-header {
			margin-left: -15px !important;
			margin-right: -15px !important;
			padding-left: @pad-sm;
		}
		.navbar-collapse {
			text-align: right;
			.navbar-nav {
				margin: @pad-sm 0 !important;
			}
		}
	}
	// Homepage Collapsed
	.home {
		.wrap {
			padding-top: @pad-md;
		}
	}
	// Blog Archive
	.blog {
		.feat-post {
			position: absolute;
			padding: 0 !important;
			width: 39px !important;
			top: -2px !important;
			right: -2px !important;
			font-size: 18px !important;
			height: 39px;
			line-height: 39px;
			-webkit-transform: none !important;
			-moz-transform: none !important;
			-ms-transform: none !important;
			-o-transform: none !important;
			transform: none !important;
			span {
				display: none !important;
			}
		}
		.img-more {
			display: none !important;
		}
	}
	// Single Blog Posts
	.single {
		.social-share {
			display: none;
		}
	}
}

@media (max-width: @screen-md-min) {
	// Carousel Captions and Controls
	.carousel {
		.carousel-caption {
			top: 20% !important;
			left: 0;
			right: 0;
			width: 100%;
		}
		.carousel-control {
			display: none;
		}
	}
	// Social Sharing Hide count
	.social-share {
		.count {
			display: none !important;
		}
	}
}

@media (max-width: @screen-lg-min) {
	// Carousel Captions and Controls
	.carousel {
		.carousel-caption {
			top: 35%;
		}
		.carousel-control span {
			line-height: 330px;
		}
	}
	// Blog Archive Pages
	.blog {
		.img-more {
			line-height: 250px !important;
		}
	}
	// Single Blog Posts
	.single {
		.feat-post {
			font-size: 18px !important;
			height: 39px;
			line-height: 39px;
			span {
				display: none !important;
			}
		}
	}
}

@media (min-width: @screen-lg-min) {
	// Carousel Captions and Controls
	.carousel {
		.carousel-caption {
			top: 35%;
		}
	}
}

// ==========================================================================
//    Theme CSS Import
// ========================================================================== 

@import "theme.less";